**/node_modules
**/backup
**/.DS_Store
**/.env*.local
**/.env
**/.cache

# Project files
.nyc_output
coverage
public
app.yaml

# Dependencies
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
